.navbar {
    position: absolute;
    left: 30px;
}

.Menu-Articles {
    padding: 0;
    min-width: 200px;
}

.nav-item {
    list-style-type: none;
    position: relative;
    margin: 15px 0;
}

.nav-item .newArticleTag {
    position: absolute;
    top: 0;
    left: -38px;
    transform: rotate(-45deg);
    border-radius: 5px;
    background: #c53227;
    padding: 2px;
}

.nav-item .nav-link,
.nav-item .nav-link:hover {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

.nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.nav-item .nav-link.active {
    color: var(--active-color);
}

.chapters {
    display: flex;
    flex-wrap: wrap;
}

.chapter-item {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px var(--main-background-color-nonopacue);
    color: black;
    text-decoration: none;
    font-weight: bold;
    flex: 1 1 auto;
    text-align: center;
    margin: 4px;
    position: relative;
}

.chapter-item:hover {
    border-color: var(--active-color);
}

.chapter-item.active {
    background-color: var(--active-color);
    border-color: var(--active-color);
    color: white;
}

.chapter-item.active:not(:last-child):after,
.chapter-item.active:not(:last-child):before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.chapter-item.active:not(:last-child):after {
    border-color: rgba(17, 41, 87, 0);
    border-left-color: var(--active-color);
    border-width: 7px;
    margin-top: -7px;
}
.chapter-item.active:not(:last-child):before {
    border-color: rgba(17, 41, 87, 0);
    border-left-color: var(--active-color);
    border-width: 8px;
    margin-top: -8px;
}

.navbar-toggler {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
.hamburgerIcon .hamburgerMenuRow {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

#menuContent {
    position: fixed;
    /*display: none;*/
    max-width: 0;
    transition: all .5s;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    padding: 50px 0;
    z-index: 100;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    #menuContent {
        width: 100%;
    }
}

#menuContent.expanded {
    display: block;
    max-width: 767px;
    padding: 50px 70px;
    transition: all .5s;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}

.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
