.Menu {
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
}

.Menu-Articles > li {
    opacity: 0.7;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    opacity: 1;
    color: white;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}