.Content {
    padding: 0 30px 30px 30px;
}

h2 {
    margin-top: 0;
}

p {
    text-align: justify;
    line-height: 22px;
}

img,
video,
figcaption {
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    max-width: 80%;
    height: auto;
    max-height: 350px;
}

.articleText {
    margin-top: 20px;
}

.aboutUsContent {
    padding-top: 30px;
}

.readMore {
    text-align: right;
}

.readMore a {
    text-decoration: none;
    border: solid 1px #112957;
    border-radius: 10px;
    background-color: #112957;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.readMore a:hover {
    text-decoration: none;
}

.readMore a:after,
.readMore a:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.readMore a:after {
    border-color: rgba(17, 41, 87, 0);
    border-left-color: #112957;
    border-width: 7px;
    margin-top: -7px;
}
.readMore a:before {
    border-color: rgba(17, 41, 87, 0);
    border-left-color: #112957;
    border-width: 8px;
    margin-top: -8px;
}
