.Content {
    padding: 0 30px 30px 30px;
}

h2 {
    margin-top: 0;
}

p {
    text-align: justify;
    line-height: 22px;
}

img,
video,
figcaption {
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    max-width: 80%;
    height: auto;
    max-height: 350px;
}

.articleText {
    margin-top: 20px;
}

.aboutUsContent {
    padding-top: 30px;
}

.readMore {
    text-align: right;
}

.readMore a {
    text-decoration: none;
    border: solid 1px black;
    border-radius: 100px;
    background-color: black;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    font-weight: bold;
}

.readMore a:hover {
    text-decoration: none;
    background-color: darkgray;
    border-color: darkgray;
}
