:root {
    --page-max-width: 767px;
    --header-height: 130px;
    --main-background-color: rgba(232, 232, 232, 0.7);
    --main-background-color-nonopacue: rgb(174, 183, 198);
    --active-color: #112957;
    --external-link-color: #dc4d20;
}

html {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 767px) {
    html {
        background: url(images/backgroundMobile.jpg) no-repeat center center fixed;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.App-main {
    max-width: var(--page-max-width);
    background-color: var(--main-background-color);
    margin: 0 auto;
    min-height: calc(100vh - var(--header-height));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.App-container {
}

.App-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    height: var(--header-height);
    color: white;
    background-size: 300px 220px;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 0 75px;
    box-sizing: border-box;
}

.App-header h1 {
    text-align: center;
    width: 100%;
}

.App-header h1 a {
    color: white;
    text-decoration: none;
}

nav.Menu {
    max-width: var(--page-max-width);
    margin: 0 auto;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
