html {
    background: url(images/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.App-header {

}

.App-main {
    max-width: 767px;
    background-color: rgba(232, 232, 232, 0.7);
    margin: 0 auto;
    min-height: calc(100vh - 165px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.App-footer {
    background-color: aqua;
}

.App-container {
}

.App-header {
    display: flex;
    align-items: flex-end;
    height: 165px;
    color: white;
    background-size: 300px 220px;
}

.App-header h1 {
    position: absolute;
    top: 25px;
    text-align: center;
    width: 100%;
}

nav.Menu {
    max-width: 800px;
    margin: 0 auto;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
