:root {
    --page-max-width: 767px;
    --header-height: 165px;
    --main-background-color: rgba(232, 232, 232, 0.7);
    --main-background-color-nonopacue: rgb(174, 183, 198);
    --active-color: #112957;
}

html {
    background: url(images/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.App-header {

}

.App-main {
    max-width: var(--page-max-width);
    background-color: var(--main-background-color);
    margin: 0 auto;
    min-height: calc(100vh - var(--header-height));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.App-container {
}

.App-header {
    display: flex;
    align-items: flex-end;
    height: var(--header-height);
    color: white;
    background-size: 300px 220px;
}

.App-header h1 {
    position: absolute;
    top: 25px;
    text-align: center;
    width: 100%;
}

.App-header h1 a {
    color: white;
    text-decoration: none;
}

nav.Menu {
    max-width: var(--page-max-width);
    margin: 0 auto;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
